* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(52, 52, 182);
}

.drums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border: 1px solid rgb(177, 32, 32);
  height: 1.5rem;
  width: 2rem;
  text-align: center;
  color: aliceblue;
  font-size: medium;
}

.pressed{
    color: black;
}